{% set staticAssetsVersion = craft.app.config.general.environmentVariables.staticAssetsVersion %}
{% set baseUrl = craft.app.config.general.baseUrl %}
<!DOCTYPE html>

<html lang="{{ craft.app.language | slice(0,2) }}" prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb#">
	<head>

    <title>Starter</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <link rel="home" href="{{ siteUrl }}" />
    <link rel="dns-prefetch" href="{{ baseUrl }}">
    <link rel="preconnect" href="{{ baseUrl }}" crossorigin>

    <style>{{ source("_inline/css/font-face.css", ignore_missing = true ) }}</style>

    <link rel="stylesheet" href="/assets/css/styles.{{ staticAssetsVersion }}.css">

	</head>

	<body>

		{% block content %}{% endblock %}

		<script type="text/javascript" src="/assets/js/bundle.js"></script>

	</body>
</html>
